$black: #484041;
$blue: #455FC6;
$green: #97C631;
$red: #D8493E;
$yellow: #FFD13D;
$white: #F9FEFF;
$greylight: #CCCDCE;
$grey: #748287;
$greydark: #32383A;
$black: #01070C;

$primary: #7496E8;
$secondary: #E75A7C;

$success: $green;
$warning: $yellow;
$error: $red;
$info: $blue;

$font-size: 16px;
$form-height: 2rem;

$nav-height: 3rem;