
.container {
	margin: 0 auto;
	max-width: 60.0rem;
	padding: 0 2.0rem;
	position: relative;
	width: 100%;
}

.grid {
	display: flex;
	padding: 0;
	width: 100%;

	&.grid-no-padding {
		padding: 0;

		&> .column {
			padding: 0;
        }
    }

	&.grid-wrap {
        flex-wrap: wrap;
    }

	&.align-top {
		align-items: flex-start;
    }

	&.align-bottom {
		align-items: flex-end;
    }

	&.align-center {
		align-items: center;
    }

	&.align-stretch {
		align-items: stretch;
    }

	&.align-baseline {
		align-items: baseline;
    }

	&.justify-between {
		justify-content: space-between;
	}

	&.justify-around {
		justify-content: space-around;
	}


	.column {
		flex-direction: column;

		&.offset-10 {
			margin-left: 10%;
        }

		&.offset-20 {
			margin-left: 20%;
        }

		&.offset-25 {
			margin-left: 25%;
        }

		&.offset-33,
		&.offset-34 {
			margin-left: 33.3333%;
        }

		&.offset-50 {
            margin-left: 50%;
        }

		&.offset-66,
		&.offset-67 {
			margin-left: 66.6666%;
        }

		&.offset-75 {
			margin-left: 75%;
        }

		&.offset-80 {
			margin-left: 80%;
        }

		&.offset-90 {
			margin-left: 90%;
        }

		&.w-10 {
			flex: 0 0 10%;
			max-width: 10%;
        }

		&.w-20 {
			flex: 0 0 20%;
			max-width: 20%;
        }

		&.w-25 {
			flex: 0 0 25%;
			max-width: 25%;
        }

		&.w-33,
		&.w-34 {
			flex: 0 0 33.3333%;
			max-width: 33.3333%;
        }

		&.w-40 {
			flex: 0 0 40%;
			max-width: 40%;
        }

		&.w-50 {
			flex: 0 0 50%;
			max-width: 50%;
        }

		&.w-60 {
			flex: 0 0 60%;
			max-width: 60%;
        }

		&.w-66,
		&.w-67 {
			flex: 0 0 66.6666%;
			max-width: 66.6666%;
        }

		&.w-75 {
			flex: 0 0 75%;
			max-width: 75%;
        }

		&.w-80 {
			flex: 0 0 80%;
			max-width: 80%;
        }

		&.w-90 {
			flex: 0 0 90%;
			max-width: 90%;
        }

		.top {
			align-self: flex-start;
        }

		.bottom {
			align-self: flex-end;
        }

		.center {
			align-self: center;
        }
    }
}


/* @media (min-width: 40.0rem) {

	.grid {
		flex-direction: row;
		margin-left: -1.0rem;
		width: calc(100% + 2.0rem);

		.column {
			margin-bottom: inherit;
			padding: 0 1.0rem;
        }
    }
} */
