
<div class="container">

    <h1 class="text-center p-lg bg-black text-white">Dashboard</h1>
    <div class="grid">
        <section class="column w-25 users-container p-sm">
            <h3>Users</h3>
            <hr>
            <section id="users"></section>
        </section>

        <section id='dashboard' class="column w-50 p-sm">
            <h3>Kudos</h3>
            <hr>

            <section id="kudos"></section>
        </section>
    </div>
</div>