// Place all the styles related to the Kudos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.kudos {

    border: 1px solid $greylight;
    padding: 1rem;
    margin-bottom: 1rem;

    .comment {
        margin-top: 1rem;
        background: lighten($greylight, 15%);
        padding: 0.25rem;
        line-height: 1rem;
    }
}